body{
  background-color: bisque;
}

.App{
  padding-left: 25%;
  width: 60rem;
}

.person{
  font-size: 60px;
  font-family: serif;
  color: blue;
  text-decoration: underline;
  letter-spacing: -3px;
  word-spacing: 10px;
}

img{
  border: 2px solid #f82727;
  border-radius: 25px !important;
}

/* button{
  background-color: rgb(4, 138, 94);
  color: #fff;
  font-size: 25px !important;
  font-family: serif;
  border: #70fa9e;
  border-radius: 10px;
  cursor: grab;
  padding: 9px 9px 9px 9px;
  transition-duration: 0.3s;
}
button:hover{
  box-shadow: 0 12px 16px 0 rgba(116, 2, 2, 0.24),0 17px 50px 0 rgba(135, 2, 2, 0.19);
} */

button {
  padding: 15px 25px;
  font-size: 25px;
  font-family: serif;
  cursor: grab;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7fc281;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #bcb7b7;
}

button:hover {background-color: #1f7c22}

button:active {
  background-color: #27872c;
  box-shadow: 0 5px #3d3c3c;
  transform: translateY(6px);
}

.profile{
  padding-top: 7%;
}

.tsm{
  font-size: 27px;
  font-family: serif;
  color: rgb(248, 11, 63);
  text-decoration: underline;
}

.name{
  font-size: 45px;
  font-family: serif;
  margin-bottom: -15px;
}

.bio{
  font-size: 20px;
  font-family: serif;
  letter-spacing: normal;
  line-height: normal;
}

span{
  font-size: 30px;
  font-family: serif;
  font-weight: 700;
  color: rgb(20, 1, 1);
}